.container {
    width: 976px;
    margin: auto;
    padding: 50px 0 0 0;
}

.innerContainer {
    margin: -10px -15px;
    padding: 0;
    list-style: none;
}

.innerContainer li {
    float: left;
    margin: 10px 15px;
    display: block;
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
}

.innerContainer li img {
    display: block;
    padding: 10px;
}
#bigLi{
    width: 944px;
}
#imgBig{
    width : 770px;
    float: left;
    height: 300px;
}

#prev{
    float: left;
    margin-top: 115px;
}

#next{
    float: right;
    margin-top: 115px;
}